<p id="notice"><%= notice %></p>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Grocery Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/stores">Stores <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/departments">Department</a>
          <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/employees">Employee</a>
          <a class="nav-link active" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/reviews">Review</a>
        </div>
      </div>
    </nav>

<h1>Reviews</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Note</th>
      <th scope="col">Store</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |employee| %>
      <tr>
        <td><%= employee.note %></td>
        <td><%= employee.store %></td>
        <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Show', employee %></button></td>
        <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_employee_path(employee) %></button></td>
        <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<button type="button" class="btn btn-outline-primary"><%= link_to 'New Review', new_review_path %></button>
