<p id="notice"><%= notice %></p>

  
    <nav class="navbar fixed-top navbar-expand-lg navbar-light"  style="background-color:#bbdef0">
      <a class="navbar-brand" href="#">Grocery Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/stores">Stores <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/departments">Departments</a>
          <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/employees">Employees</a>
          <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/reviews">Reviews</a>
        </div>
      </div>
    </nav>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Welcome to the Grocery Store App</h1>
            <p class="lead">Below is a table of all our stores followed by their own cards</p>
          </div>
        </div>
        <h1 style=" margin-top: 32px;">Stores</h1>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Url</th>
        <th scope="col">Status</th>
        <th scope="col">Code</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
     <body style="background-color:#;">
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.description %></td>
          <td><%= store.url %></td>
          <td><%= store.status %></td>
          <td><%= store.code %></td>
          <td><%= store.address %></td>
          <td><%= store.city %></td>
          <td><%= store.state %></td>
          <td><%= store.zip %></td>
          <td><%= store.country %></td>
          <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Show', store %></button></td>
          <td><button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_store_path(store) %></button></td>
          <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<button type="button" class="btn btn-outline-primary"><%= link_to 'New Store', new_store_path %></button>

<br>


 <div class="container-fluid">
      <div class="row">
        <% @stores.each do |store| %>
        <div class="col-md-3">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Store</h5>
              <h6 class="card-subtitle mb-2 text-muted">Store Information</h6>
              <p class="card-text"><p>
                  <p>
                    <strong>Name:</strong>
                    <%= store.name %>
                  </p>
                  
                  <p>
                    <strong>Description:</strong>
                    <%= store.description %>
                  </p>
                  
                  <p>
                    <strong>Url:</strong>
                    <%= store.url %>
                  </p>
                  
                  <p>
                    <strong>Status:</strong>
                    <%= store.status %>
                  </p>
                  
                  <p>
                    <strong>Code:</strong>
                    <%= store.code %>
                  </p>
                  
                  <p>
                    <strong>Address:</strong>
                    <%= store.address %>
                  </p>
                  
                  <p>
                    <strong>City:</strong>
                    <%= store.city %>
                  </p>
                  
                  <p>
                    <strong>State:</strong>
                    <%= store.state + "," %>
                  </p>
                  
                  <p>
                    <strong>Zip:</strong>
                    <%= store.zip %>
                  </p>
                  
                  <p>
                    <strong>Country:</strong>
                    <%= store.country %>
                  </p>
                <button type="button" class="btn btn-outline-primary"><%= link_to 'Show', store %></button>
                <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_store_path(store) %></button>
                <button type="button" class="btn btn-danger"><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></button></p>
            </div>
            </div>
          </div>
      </div>
    </div>
    <% end %>
    