<p id="notice"><%= notice %></p>

  
   <div class="jumbotron top">
    <div class="container">
      <h1 class="display-3">Welcome</h1>
      <p>Below is our stores where you can learn more about them</p>
      <p><a class="btn btn-primary btn-lg" href="#main-body" role="button">Learn more »</a></p>
    </div>
  </div>
  
  
  
<div id = "main-body">
          <img src="https://www.fiestamart.com/wp-content/uploads/2017/11/Fiesta-Logo-white-border.png" class="rounded mx-auto d-block" alt="Responsive image">
          <h1 class="display-2 text-center">Stores</h1>
  
  
  
  <br>
  <br>
  
   <div class="container-fluid">
        <div class="row">
         <% @stores.each do |store| %>
          <div class="col-md-3 d-flex align-items-stretch"style="float:right">
            <div class="card bg-light mb-3" style="width: 18rem;">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Store</h5>
                <h6 class="card-subtitle mb-2 text-muted">Store Information</h6>
                <p class="card-text"><p>
                    <p>
                      <strong>Name:</strong>
                      <%= store.name %>
                    </p>
                    
                    <p>
                      <strong>Description:</strong>
                      <%= store.description %>
                    </p>
                    
                    <p>
                      <strong>Url:</strong>
                      <%= store.url %>
                    </p>
                    
                    <p>
                      <strong>Status:</strong>
                      <%= store.status %>
                    </p>
                    
                    <p>
                      <strong>Code:</strong>
                      <%= store.code %>
                    </p>
                    
                    <p>
                      <strong>Address:</strong>
                      <%= store.address %>
                    </p>
                    
                    <p>
                      <strong>City:</strong>
                      <%= store.city %>
                    </p>
                    
                    <p>
                      <strong>State:</strong>
                      <%= store.state + "," %>
                    </p>
                    
                    <p>
                      <strong>Zip:</strong>
                      <%= store.zip %>
                    </p>
                    
                    <p>
                      <strong>Country:</strong>
                      <%= store.country %>
                    </p>
                    
                    <div class="card-buttons">
                      <button type="button" class="btn btn-outline-primary"><%= link_to 'Show', store %></button>
                      <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_store_path(store) %></button>
                      <button type="button" class="btn btn-danger"><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                    </div>
                    </p>
              </div>
              </div>
            </div>
            <% end %>
            </div>
             
        </div>
      </div>
     
      <button type="button" class="btn btn-outline-primary"><%= link_to 'New Store', new_store_path %></button>
</div>