<p id="notice"><%= notice %></p>


    <div class="container-fluid">
      <div class="row">
        <div class="column m-auto">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Store</h5>
              <h6 class="card-subtitle mb-2 text-muted">Store Information</h6>
              <p class="card-text"><p>
                  <p>
                    <strong>Name:</strong>
                    <%= @store.name %>
                  </p>
                  
                  <p>
                    <strong>Description:</strong>
                    <%= @store.description %>
                  </p>
                  
                  <p>
                    <strong>Url:</strong>
                    <%= @store.url %>
                  </p>
                  
                  <p>
                    <strong>Status:</strong>
                    <%= @store.status %>
                  </p>
                  
                  <p>
                    <strong>Code:</strong>
                    <%= @store.code %>
                  </p>
                  
                  <p>
                    <strong>Address:</strong>
                    <%= @store.address %>
                  </p>
                  
                  <p>
                    <strong>City:</strong>
                    <%= @store.city %>
                  </p>
                  
                  <p>
                    <strong>State:</strong>
                    <%= @store.state %>
                  </p>
                  
                  <p>
                    <strong>Zip:</strong>
                    <%= @store.zip %>
                  </p>
                  
                  <p>
                    <strong>Country:</strong>
                    <%= @store.country %>
                  </p>
              <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_store_path(@store) %></button>|
              <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', stores_path %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    