<p id="notice"><%= notice %></p>

    <div class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/stores">Stores <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/departments">Department</a>
            <a class="nav-link active" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/employees">Employee</a>
            <a class="nav-link" href="https://2995a66600084a5ea0c1fb107d6eab49.vfs.cloud9.us-east-2.amazonaws.com/reviews">Review</a>
          </div>
        </div>
      </nav>
    </div>


<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Description</th>
      <th>Role</th>
      <th>Status</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.description %></td>
        <td><%= employee.role %></td>
        <td><%= employee.status %></td>
        <td><%= employee.department %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
