<p id="notice"><%= notice %></p>

  

<h1 style=" margin-top: 68px;">Employees</h1>
<br>

<div class="container-fluid">
  <div class= "row-fluid">
    <% @employees.each do |employee| %>
        <div class= "col-3" style="float:right" >
          <div class= "m-auto p-1">
          <div class="card" style="width: 18rem;">
            <img src="<%= employee.picture %>" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                        <p>
                          <strong>First Name:</strong>
                          <%= employee.first_name %>
                        </p>
                        
                        <p>
                          <strong>Last Name:</strong>
                          <%= employee.last_name %>
                        </p>
                        
                        <p>
                          <strong>Description:</strong>
                          <%= employee.description %>
                        </p>
                        
                        <p>
                          <strong>Role:</strong>
                          <%= employee.role %>
                        </p>
                        
                        <p>
                          <strong>Status:</strong>
                          <%= employee.status %>
                        </p>
                        
                        <p>
                          <strong>Department ID:</strong>
                          <%= employee.department.id %>
                        </p>
                      <button type="button" class="btn btn-outline-primary"><%= link_to 'Show', employee %></button>
                      <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_employee_path(employee) %></button>
                      <button type="button" class="btn btn-danger"><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></button></p>
            </div>   
          </div>
        </div>        
      </div>
      
       <% end %>
  </div>
  
</div>







<button type="button" class="btn btn-outline-primary"><%= link_to 'New Employee', new_employee_path %></button>

