<p id="notice"><%= notice %></p>

    <div class="container-fluid">
      <div class="row">
        <div class="column m-auto">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Employee</h5>
              <h6 class="card-subtitle mb-2 text-muted">Employee Information</h6>
              <p class="card-text"><p>
                  <p>
                    <img src="<%= @employee.picture %>">
                  </p>
                  <p>
                    <strong>First name:</strong>
                    <%= @employee.first_name %>
                  </p>
                  
                  <p>
                    <strong>Last name:</strong>
                    <%= @employee.last_name %>
                  </p>
                  
                  <p>
                    <strong>Description:</strong>
                    <%= @employee.description %>
                  </p>
                  
                  <p>
                    <strong>Role:</strong>
                    <%= @employee.role %>
                  </p>
                  
                  <p>
                    <strong>Status:</strong>
                    <%= @employee.status %>
                  </p>
                  
                  <p>
                    <strong>Department:</strong>
                    <%= @employee.department.id %>
                  </p>
              <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_employee_path(@employee) %></button> |
              <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', employees_path %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    