<p id="notice"><%= notice %></p>
  
  
  
  <h1 class="display-3 text-center">Departments</h1>

<br>

<div class="container-fluid">
      <div class="row" >
        <% @departments.each do |department| %>
        <div class="col-md-3 d-flex align-items-stretch"style="float:right">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Department</h5>
              <h6 class="card-subtitle mb-2 text-muted">Department Information</h6>
              <p class="card-text"><p>
                  <p>
                    <strong>Store ID:</strong>
                    <%= department.store_id %>
                  </p>
                  
                  <p>
                    <strong>Name:</strong>
                    <%= department.name %>
                  </p>
                  
                  <p>
                    <strong>Description:</strong>
                    <%= department.description %>
                  </p>
                  
                  <p>
                    <strong>Code:</strong>
                    <%= department.code %>
                  </p>
                  <div class="card-buttons">
                    <button type="button" class="btn btn-outline-primary"><%= link_to 'Show', department %></button>
                    <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_department_path(department) %></button>
                    <button type="button" class="btn btn-danger"><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></button></p>
                  </div>
            </div>
            </div>
              
          </div>
          <% end %>
      </div>
    </div>
  
  <button type="button" class="btn btn-outline-primary"><%= link_to 'New Department', new_department_path %></button>