<p id="notice"><%= notice %></p>

    <div class="container-fluid">
      <div class="row">
        <div class="column m-auto">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Department</h5>
              <h6 class="card-subtitle mb-2 text-muted">Department Information</h6>
              <p class="card-text"><p>
                  <p>
                    <strong>Store:</strong>
                    <%= @department.store_id %>
                  </p>
                  
                  <p>
                    <strong>Name:</strong>
                    <%= @department.name %>
                  </p>
                  
                  <p>
                    <strong>Description:</strong>
                    <%= @department.description %>
                  </p>
                  
                  <p>
                    <strong>Code:</strong>
                    <%= @department.code %>
                  </p>
                  
                  <p>
                    <strong>Store:</strong>
                    <%= @department.store %>
                  </p>
              <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_department_path(@department) %></button> |
              <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', departments_path %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
